langchain
openai
pgvector
psycopg2-binary
python-dotenv
beautifulsoup4
sentencepiece
pydantic
numpy
pandas
SQLAlchemy
transformers
numpy
pandas
xmltodict
requests
cachetools
requests
pyjwt
langchain-openai
llama-index
asyncpg
llama-index-embeddings-openai
langchain-community